
<% lead ||= false%>
<%= semantic_form_for @booking,  :url => "/bookings",  :html => {:method => :post} do |form| %>
  <%= form.inputs do %>
    <div class= "form-group">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <%= form.input :customer_id,:as => :select ,:collection => Customer.all.collect{|t| [t.name + " - " + t.email_address, t.id]},class: 'form-control'%>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12"></div>
    </div><!--select-customer-->
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
      <p>Or</p>
    </div> <!--0r-->
    <div class="form-group text-center col-md-12 col-sm-12 col-xs-12 ">
      <% if @booking.customer_id %>
        <div><a href="/customers/<%=@booking.customer_id%>/edit" class="btn btn-primary ud-vd">Edit Customer Information</a></div>
      <% else %>
        <div><a href="/customers/new" class="btn btn-primary ud-vd">Add New Customer</a></div>
      <% end %>
    </div> <!--btn create-->
    <div class="form-group">
      <%= form.input :travel_date,:as => :string, id: 'datetimepicker_from', placeholder: "Travel from", input_html:{class: "form-control input-icon-select-date"}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--travel from-->
    <div class="form-group">
      <%= form.input :travel_to,:as => :string, id: 'datetimepicker_to', placeholder: "Travel to", input_html:{class: "form-control input-icon-select-date" }, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--travel to-->
    <div class="form-group">
      <%= form.input :contact_number,:as => :string, placeholder: "Contact Number",  input_html:{class: "form-control"}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--contact-->
    <div class="form-group">
      <div class="adult-and-child" style="width: 325px; margin: 0px auto;">
        <div class="input-num-adult-booking-form" style="width: 150px; float: left;">
          <%= form.input :number_adult, :as => :string, placeholder: "No. of Adults", input_html:{class: 'form-control'}%>
        </div>
        <div class="nput-num-adult-booking-form" style="width: 150px; float: left; margin-left: 25px;">
          <%= form.input :number_child, :as => :string, placeholder: "No. of Childrens", input_html:{class: 'form-control '} %>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 padding-0"></div>
      </div>
    </div> <!--aldust+childrent-->
    <% if @booking.new_record?  and !lead %>
      <% @booking.booking_tour_category_tours.new %>
    <% end %>
    <li class="form-group">
      <%= form.semantic_fields_for :booking_tour_category_tours, {
        min_entry: 3,
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Add Tour"
      } do |tour| %>       
        <%= tour.inputs do %>
        
          <%= tour.input :tour_category_id, :as => :select, :collection => TourCategory.all.collect{|t| [t.name, t.id]},:input_html => { :class => 'form-control booking-tour-category', :id => 'booking_tour_category'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0 form-control "} %>
        
          <%= tour.input :tour_id, :as => :select , :collection => tour.object.tour_category.nil? ? [] : tour.object.tour_category.tours.collect{|t| [t.name, t.id]}, :input_html => { :class => 'form-control booking-tour', :id => 'booking_tour'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
       
            <script language="javascript">
              $(document).ready(function() {
                $('.label').hide();
                             
              <% if lead %>
                var bookingTour = $('#booking_tour.booking-tour')
                var bookingTourCategory =  $('#booking_tour_category.booking-tour-category')
              <% else %>
                var bookingTour = $('#booking_tour.booking-tour').last();
                bookingTour.append('<option value="0">Tour Name</option>');
                bookingTour.val(0);
                var bookingTourCategory =  $('#booking_tour_category.booking-tour-category').last();
                bookingTourCategory.append('<option value="0">Tour Category</option>');
                bookingTourCategory.val(0);
                
              <% end %>
                
                bookingTour.selectbox({});
                
                
               
    
                bookingTourCategory.selectbox({
                  onChange: function (val, inst) {
                    var category_id = val;
                    var tourOfTourCategory = $(this).closest(".formnestic-li-fieldset").find("select#booking_tour.booking-tour");
                    tourOfTourCategory.selectbox("detach");
                    tourOfTourCategory.html('');
                    tourOfTourCategory.append('<option value="0">Tour Name</option>');
                    tourOfTourCategory.val(0);
                      if (category_id !== null) {
                        $.ajax({
                          url:"/tours/" + category_id + "/tour_of_tour_category",
                          data:{'id':category_id},
                          success:function(data){
                            $.each(data, function(index, item) {
                              var html = '<option value="'+item.id+'">'+item.name+'</option>';
                              tourOfTourCategory.append(html);
                            })            
                            tourOfTourCategory.selectbox({});
              
                          }
                        })
                      } else {
                        tourOfTourCategory.selectbox({});
                      }
                  	}
                });
    
              });  
            </script>
            
            
        <% end %>
      <% end %>
    </li>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
    <%= form.action :submit, :label => "save", :button_html => { :class => "btn btn-primary ud-vd" } %>
  </div>
<% end %>

<script language="javascript">
  $(document).ready(function() {
    $('.label').hide();
    var bookingCustomerId = $('#booking_customer_id');
    <% p "lead = #{lead}" %>
    
    <% if !lead %>
      bookingCustomerId.append('<option value="0">Select Customer</option>');
      bookingCustomerId.val(0);
    <% end %>
      
    bookingCustomerId.selectbox({});
    
    $('#booking_travel_to').datetimepicker({
     timepicker:false,
     format:'d/m/Y'
    });
    
    $('#booking_travel_date').datetimepicker({
     timepicker:false,
     format:'d/m/Y'
    });
    
  });  
</script>