<% lead ||= false%>
<%= semantic_form_for @booking,  :url => "/sales/bookings",  :html => {:method => :post} do |form| %>
  <%= form.inputs do %>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= form.input :customer_id,:as => :select ,:collection => Customer.all , :include_blank => false%>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12"></div>
    </div><!--select-customer-->
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
      <p>Or</p>
    </div> <!--0r-->
    <div class="form-group text-center col-md-12 col-sm-12 col-xs-12 ">
      <% if @booking.customer_id %>
        <div><a href="/sales/customers/<%=@booking.customer_id%>/edit?booking_lead_id=<%=@lead.try(:id)%>" class="btn btn-primary ud-vd">Edit Customer Information</a></div>
      <% else %>
        <div><a href="/sales/customers/new" class="btn btn-primary ud-vd">Add New Customer</a></div>
      <% end %>
    </div> <!--btn create-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :travel_date,:as => :string, placeholder: "Travel from", input_html:{class: " input-icon-select-date"}%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--travel from-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :travel_to,:as => :string, placeholder: "Travel to", input_html:{class: "input-icon-select-date" }%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--travel to-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :contact_number,:as => :string, placeholder: "Contact Number"%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--contact-->
    <div class="form-group">
      <div class="adult-and-child col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <div class="input-num-adult-lead-form col-md-6 col-sm-12 col-xs-12 padding-0">
          <%= form.input :number_adult, :as => :string, placeholder: "No. of Adults"%>
        </div>
        <div class="nput-num-adult-lead-form col-md-6 col-sm-12 col-xs-12 padding-0">
          <%= form.input :number_child, :as => :string, placeholder: "No. of Childrens"%>
        </div>
        <div class = "col-md-2 col-sm-2 col-xs-12"></div>
      </div>
    </div> <!--aldust+childrent-->
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 sum-pax-lead">
        <span style="float: left; margin-right: 7px;">No. of Pax: </span><span id="sum-pax" style="padding-bottom: 40px; float: left;"><%= @booking.number_of_pax %></span>
      </div>
    </div>
    <% if @booking.new_record?  and !lead and @booking.errors.count == 0 %>
      <% @booking.booking_tour_category_tours.new %>
    <% end %>
    <li class="form-group">
      <%= form.semantic_fields_for :booking_tour_category_tours, {
        min_entry: 3,
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Add Tour"
      } do |tour| %>       
        <%= tour.inputs do %>
        
          <%= tour.input :tour_category_id, :as => :select, :collection => TourCategory.all.collect{|t| [t.name, t.id]},:input_html => { :class => 'form-control booking-tour-category', :id => 'booking_tour_category'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0 form-control "}, include_blank: false %>
        
          <%= tour.input :tour_id, :as => :select , :collection => tour.object.tour_category.nil? ? [] : tour.object.tour_category.tours.collect{|t| [t.name, t.id]}, :input_html => { :class => 'form-control booking-tour', :id => 'booking_tour'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}, include_blank: false%>
       
            <script language="javascript">
              $(document).ready(function() {
                             
              <% if lead %>
                var bookingTour = $('#booking_tour.booking-tour')
                var bookingTourCategory =  $('#booking_tour_category.booking-tour-category')
              <% else %>
                var bookingTour = $('#booking_tour.booking-tour').last();
                bookingTour.prepend('<option value="0">Tour Name</option>');
                bookingTour.val("");
                var bookingTourCategory =  $('#booking_tour_category.booking-tour-category').last();
                bookingTourCategory.prepend('<option value="">Tour Category</option>');
                bookingTourCategory.val("");
                
              <% end %>
                
                bookingTour.selectbox({});  
                bookingTourCategory.selectbox({
                  onChange: function (val, inst) {
                    var category_id = val;
                    var tourOfTourCategory = $(this).closest(".formnestic-li-fieldset").find("select#booking_tour.booking-tour");
                    tourOfTourCategory.selectbox("detach");
                    tourOfTourCategory.html('');
                    tourOfTourCategory.prepend('<option value="">Tour Name</option>');
                    tourOfTourCategory.val("");
                      if (category_id !== null) {
                        $.ajax({
                          url:"/sales/bookings/" + category_id + "/tour_of_tour_category",
                          success:function(data){
                            $.each(data, function(index, item) {
                              var html = '<option value="'+item.id+'">'+item.name+'</option>';
                              tourOfTourCategory.append(html);
                            })            
                            tourOfTourCategory.selectbox({});
              
                          }
                        })
                      } else {
                        tourOfTourCategory.selectbox({});
                      }
                  	}
                });
    
              });  
            </script>            
        <% end %>
      <% end %>
    </li>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
    <%= form.action :submit, :label => "Save", :button_html => { :class => "btn btn-primary" } %>
  </div>
<% end %>

<script language="javascript">
  $(document).ready(function() {
    
  <% if  @booking.errors.count > 0  %>
    var bookingTour = $('#booking_tour.booking-tour')
    var bookingTourCategory =  $('#booking_tour_category.booking-tour-category')
      
    bookingTour.selectbox({});  
    bookingTourCategory.selectbox({
      onChange: function (val, inst) {
        bookingTourCategory.val(val);
        var category_id = val;
        var tourOfTourCategory = $(this).closest(".formnestic-li-fieldset").find("select#booking_tour.booking-tour");
        tourOfTourCategory.selectbox("detach");
        tourOfTourCategory.html('');
        tourOfTourCategory.prepend('<option value="">Tour Name</option>');
        tourOfTourCategory.val("");
          if (category_id !== null) {
            $.ajax({
              url:"/sales/bookings/" + category_id + "/tour_of_tour_category",
              success:function(data){
                $.each(data, function(index, item) {
                  var html = '<option value="'+item.id+'">'+item.name+'</option>';
                  tourOfTourCategory.append(html);
                })            
                tourOfTourCategory.selectbox({});
  
              }
            })
          } else {
            tourOfTourCategory.selectbox({});
          }
      	}
    });
  <% end %>
    
    
    var bookingCustomerId = $('#booking_customer_id');
        
    <% if !lead and ((@booking.errors.count == 0) or (@booking.errors.count > 0 and !@booking.customer_id ) )%>
      bookingCustomerId.prepend('<option value="0">Select Customer</option>');
      bookingCustomerId.val("");
    <% end %>
      
    bookingCustomerId.selectbox({
      onChange: function(val) {
        $('#booking_customer_id option').removeAttr('selected');
        $('#booking_customer_id').val(val);
      }
    });
    
    $('#booking_travel_to').datetimepicker({
      timepicker:false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#booking_travel_date').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          maxDate: db,
        });
      }
    });
    
    $('#booking_travel_date').datetimepicker({
      timepicker:false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#booking_travel_to').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          minDate: db,
        });
      } 
    });
    
    //sum-pax
    $(document.body).delegate("#booking_number_adult, #booking_number_child", "keyup", function(){
      var adults = $("#booking_number_adult").val();
      var children = $("#booking_number_child").val();
      var sum;
      if(parseInt(adults) && !parseInt(children))
      {
        sum = parseInt(adults);
        $("#sum-pax").html(sum);
      }
      else if(!parseInt(adults) && parseInt(children)){
        sum = parseInt(children);
        $("#sum-pax").html(sum);
      }
      else if (parseInt(adults) && parseInt(children)){
        sum = parseInt(adults) + parseInt(children);
        $("#sum-pax").html(sum);
      }
    });
    
  });  
</script>