<% unless smart_listing.empty? %>
  <table class='listing-table vendor-listing-content-tab-vendor-rates'>
    <thead>
      <tr>
        <th class="no">No</th>
        
        <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Booking Number", "booking_number" %></th>
        
        <th class="cus-style-white">Travel Date</th>
        
        <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Booking Date", "created_at" %></th>
        
        <th class="booking-name cus-style-white"><%= smart_listing.sortable "Name", "name" %></th>
        
        <th class="booking-tour-code cus-style-gray">Tour Code</th>
        
        <th class="customer-thead-name cus-style-white"><%= smart_listing.sortable "Status", "status" %></th>
        
        <th class="booking-sale cus-style-gray"><%= smart_listing.sortable "Sales Person", "booking.user.try(:username)" %></th>
        
        <th class="booking-action" style='text-align: center;'>Itinerary</th>
      </tr>
    </thead>
    
    <tbody>   
      <% smart_listing.collection.each_with_index do |booking, index| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <% if params[:bookings_smart_listing] and params[:bookings_smart_listing][:page] and  params[:bookings_smart_listing][:page].to_i > 0 %>
          <% index_show = (params[:bookings_smart_listing][:page].to_i - 1)*10 + index + 1 %>
          <% else %>
          <% index_show = index + 1 %>
          <% end %>
          <td><%= index_show %></td>
          <td><%= booking.booking_number %></td>
          <td><%= booking.travel_date ? booking.travel_date.strftime("%d-%m-%Y") : "" %></td>
          <td><%= booking.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= booking.customer.try(:name) %></td>
          <td><%= booking.booking_tour_category_tours.first ? booking.booking_tour_category_tours.first.tour.try(:code) : "N/A"%></td>
          <td><%= booking.status %></td>
          <td><%= booking.user.try(:username) %></td>                           
          <td style='text-align: center;'>
            <div data-booking-id="<%= booking.id %>" class="btn btn-primary send-pdf-mailer">Send</a>
          </td>  
        </tr>
      <% end %>
    </tbody>       
  </table>
  <%= smart_listing.paginate  %>
<% else %>
  <p class="warning">No records!</p>
<% end %>

<script language="javascript">
  $(document).ready(function() {
    
    $(document.body).delegate(".send-pdf-mailer", "click", function(e){
      var bookingId = $(this).data("booking-id")
      $.ajax({
        type: "GET",
        url: "/sales/bookings/" + bookingId + "/send_pdf_mailer",
        success: function (data) {          
          $('#itinerary_pdf_send').modal({
            show: true,
            backdrop: 'static',
            keyboard: true            
          });
          
        }
      });          
    });
  
  });  
  
</script>