<% unless smart_listing.empty? %>
  <table class='listing-table vendor-listing-content-tab-vendor-rates'>
    <thead>
      <tr>
        <th class="no">No</th>
        
        <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Booking Number", "booking_number" %></th>
        
        <th class="cus-style-white"><%= smart_listing.sortable "Travel Date", "travel_date" %></th></th>
        
        <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Booking Date", "created_at" %></th>
        
        <th class="booking-name cus-style-white"><%= smart_listing.sortable "Name", "customers.name" %></th>
        
        <th class="booking-tour-code cus-style-gray">Tour Code</th>
        
        <th class="customer-thead-name cus-style-white"><%= smart_listing.sortable "Status", "status" %></th>
        
        <th class="booking-sale cus-style-gray"><%= smart_listing.sortable "Sales Person", "users.username" %></th>
        
        <th class="booking-action" style='text-align: center;'>Itinerary</th>
      </tr>
    </thead>
    
    <tbody>   
      <% smart_listing.collection.each_with_index do |booking, index| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <% if params[:bookings_smart_listing] and params[:bookings_smart_listing][:page] and  params[:bookings_smart_listing][:page].to_i > 0 %>
          <% index_show = (params[:bookings_smart_listing][:page].to_i - 1)*10 + index + 1 %>
          <% else %>
          <% index_show = index + 1 %>
          <% end %>
          <td><%= index_show %></td>
          <td><%= booking.booking_number %></td>
          <td><%= booking.travel_date ? booking.travel_date.strftime("%d-%m-%Y") : "" %></td>
          <td><%= booking.created_at.strftime("%d-%m-%Y") %></td>
          <td><%= booking.customer.try(:name) %></td>
          <td><%= booking.booking_tour_category_tours.count > 0 ? booking.booking_tour_category_tours.joins(:tour).collect{|x| [x.tour.try(:code)]}.join(", ") : "N/A"%></td>
          <td><%= booking.status %></td>
          <td><%= booking.user.try(:username) %></td>                           
          <td style='text-align: center;'>
            <div data-booking-id="<%= booking.id %>" class="btn btn-primary send-pdf-mailer">Send</a>
          </td>  
        </tr>
      <% end %>
    </tbody>       
  </table>
  <%= smart_listing.paginate  %>
<% else %>
  <p class="warning">No records!</p>
<% end %>

<div id="itinerary_pdf_send" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class='modal-dialog'>          
    <div class='modal-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="accept" class= "col-md-12 col-sm-12 col-xs-12">
            <div class='col-md-12 col-sm-12 col-xs-12'>
              <p style="font-size: 18px; line-height: 2em; font-weight: 600;">Do you want to send Itinerary to customer?</p>
              <p style="font-size: 14px; margin-bottom: 30px;">An email with an attached pdf of the itinerary will be sent to the customer.</p>
            </div>
            <div class='col-md-12 col-sm-12 col-xs-12 text-center'>
              <div class="btn btn-white close-modal-box" style="padding: 5px 20px;">Yes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<div id="itinerary_pdf_send_next_time" class="modal fade" tabindex="1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class='modal-dialog'>          
    <div class='modal-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="accept" class= "col-md-12 col-sm-12 col-xs-12">
            <div class='col-md-12 col-sm-12 col-xs-12'>
              <p style="font-size: 18px; line-height: 2em; font-weight: 600;">You have already sent this Itinerary to the customer.</p>
              <p style="font-size: 14px; margin-bottom: 30px;">Are you sure you want to send this again?</p>
            </div>
            <div class='col-md-12 col-sm-12 col-xs-12 text-center'>
              <div class="btn btn-white close-modal-box" style="padding: 5px 20px;">Yes</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<script language="javascript">
  $(document).ready(function() {
    var bookingIdSendItinerary;    
    
    $(document.body).delegate(".send-pdf-mailer", "click", function(e){
      bookingIdSendItinerary = $(this).data("booking-id");
      $.ajax({
        type: "GET",
        url: "/sales/bookings/" + bookingIdSendItinerary + "/check_is_first_send_itinerary",
        success: function (data) {   
          if (data.sended) {
            $('#itinerary_pdf_send_next_time').modal({
              show: true,
              backdrop: 'static',
              keyboard: true            
            });  
          } else {
            $('#itinerary_pdf_send').modal({
              show: true,
              backdrop: 'static',
              keyboard: true            
            });  
          }        
        }
      });                   
    });
    
    $(document.body).delegate(".close-modal-box", "click", function(e){      
      $.ajax({
        type: "GET",
        url: "/sales/bookings/" + bookingIdSendItinerary + "/send_pdf_mailer",
        success: function (data) {          
          $('#itinerary_pdf_send').modal('hide'); 
          $('#itinerary_pdf_send_next_time').modal('hide');         
        }
      });               
    });
            
    
  
  });  
  
</script>