<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="new-booking">
            <%= link_to 'New Booking', new_booking_url, class: "btn btn-primary pull-left", id: "new" %>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <h2>Booking</h2>
          <ol class="breadcrumb">
            <li>
              <a href="/dashboard">Home</a>
            </li>
            <li>
              <a href="/sales/dashboard">Sales</a>
            </li>
            <li class="active">
              <strong>Bookings</strong>
            </li>
          </ol>
        </div>
      </div>
    </div>
    
    <div class='wrapper wrapper-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid white-bg'>
          <div id="vendor_filter">
            <% @booking_new = Booking.new %>
            <%= semantic_form_for @booking_new,  :url => "", :html => {:method => :get }  do |f| %>
              <%= f.inputs do %>
              <div class= "form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
                  <%= f.input :status, :as => :select, collection: Booking::BOOKING_STATUS %>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
              </div>
              <div class= "form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
                  <%= f.input :user_id, :label => "Sales Person", :as => :select, collection: User.all.reject{ |x| x.username.nil?} %>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
              </div>
              <div class= "form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
                  <%= f.input :travel_date,:as => :string, :input_html => { :class => 'input-icon-select-date'}, placeholder: "Travel from"%>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
              </div>
              <div class= "form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
                  <%= f.input :travel_to, :as => :string, :input_html => { :class => 'input-icon-select-date'},placeholder: "Travel to"%>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12"></div>
              </div>  
              <% end %>
               <%= f.action :submit, :label => "Filter", :button_html => { :class => "btn btn-primary filter-booking" } %>
            <% end %>
          </div>
        </div> 
        <div id="listing-table">
          <%= smart_listing_render(:bookings) %>
        </div>
      </div>
    </div>
  </div>
</div>   

<script language="javascript">
  $(document).ready(function() {
    <% show_flash ||= false %>
    <% if show_flash %>
      $.cookie('flashType', "notice", { path: '/' });
      $.cookie('flashMessage', 'Booking has been saved successfully!', { path: '/' });
      toastr['success']($.cookie('flashMessage'));
      $.removeCookie('flashType', { path: '/' });
      $.removeCookie('flashMessage', { path: '/' });
    <%  end %>
    
    var bookingStatusValue, bookingUserId;
    $('#booking_travel_date,#booking_travel_to').val("");
    $('.label').hide();
    $('#booking_travel_date').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#booking_travel_to').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          minDate: db,
        });
      }     
    });     
  
    $('#booking_travel_to').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#booking_travel_date').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          maxDate: db,
        });
      }
    });  
    
    var bookingStatus = $('#booking_status');
    bookingStatus.append('<option value="0">Payment Status</option>');
    bookingStatus.val(0);
    bookingStatus.selectbox({
      onChange: function (val, inst) {
        bookingStatusValue = val;
      }
    });
    
    var bookingUserIdSelexBox = $("select#booking_user_id");
    bookingUserIdSelexBox.append('<option value="0">Sales Person</option>');
    bookingUserIdSelexBox.val(0);
    bookingUserIdSelexBox.selectbox({
      onChange: function (val, inst) {
        bookingUserId = val;
      }
    });
      
    $(document.body).delegate("input.filter-booking", "click", function(e){
      e.preventDefault();     
      var url = "/sales/bookings";
      var travel_from = $("#booking_travel_date").val();
      var travel_to = $("#booking_travel_to").val();
    
      $.ajax({
        url: url,
        type: "GET",
        data:{
          ajax_call: true,
          booking_status: bookingStatusValue,
          user_id: bookingUserId,
          travel_date: travel_from,
          travel_to: travel_to
        },
        success: function(data) {
          $('div#listing-table').html(data);
        },
        error: function() {
        }
      });
      return false;
    });
  
  });  
  
</script>
