<%= semantic_form_for @user,:url =>  @user.new_record? ? "/users" : "/users/#{@user.id}", :html => {:method => @user.new_record? ? :post : :put, :class => "user-form"} do |form| %>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :username, :as => :string, placeholder: "Name", input_html:{class: "form-control"}%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
  <div class= "form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :email, :as => :string, placeholder: "Email address", input_html:{class: "form-control email"}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  <div class= "form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :contact_number, :as => :string, placeholder: "Contact Number", input_html:{class: "form-control"}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
   
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 select-source">
       <%= form.input :department_id,:as => :select ,:collection => Department.all.collect{|t| [t.name, t.id]} ,class: ' lead-group-select'%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 select-hod-user" style="margin-top:20px;">
       <%= form.input :is_head_of_department, wrapper_html:{class: 'hidden'} %>
       <% if form.object.is_head_of_department %>
         <span class="is-header-depart-chexbox active"></span>
       <% else %>
         <span class="is-header-depart-chexbox"></span>
        <% end %>
       <span style="  font-size: 15px; line-height: 16px; padding-left: 9px;"> Head of Department </span>
     </div>
   </div>
   
   <div class="form-group text-center">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
       <button class="btn btn-primary save-form-button add-saving-after-click" id="done" type="submit">Save</button>
     </div>
   </div>

<% end %>
<script language="javascript">
  $(document).ready(function() {
    var userCountry = $('#user_department_id');
    <% if controller.action_name != "edit" %>
    userCountry.prepend('<option value="">--Select Department--</option>');
    userCountry.val("");
    <% end %>
    userCountry.selectbox({}); 
    
    
  })
</script>
