
<%= semantic_form_for @lead,  :url => "/leads",  :html => {:method => :post} do |form| %>
  <%= form.inputs do %>
    <li>
      <%= form.semantic_fields_for :tours, {
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Add Tour"
      } do |tour| %>       
        <%= tour.inputs do %>
            
              <%= tour.input :name, :label => "Name" ,as: :string , :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= tour.input :tour_category_id, :label => "Name" ,as: :string , :required => false, :input_html => { :class => 'input-icon-select-date'} %>
            
        <% end %>
      <% end %>
    </li>
  <% end %>
  <%= form.action :submit, :label => "Update Vendor", :button_html => { :class => "btn btn-primary ud-vd" } %>
<% end %>