<%= semantic_form_for @lead,  :url =>  @lead.new_record? ?  "/sales/leads" : "/sales/leads/#{@lead.id}",  :html => {:method => @lead.new_record? ? :post : :put, :class => @lead.new_record? ? "new-lead" : ""} do |form| %>
  <%= form.inputs do %>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= form.input :customer_id,:as => :select ,:collection => Customer.all.collect{|t| [t.name + " - " + t.email_address, t.id]}, include_blank: false %>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-12"></div>
    </div><!--select-customer-->
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
      <p>Or</p>
    </div> <!--0r-->
    <div class="form-group text-center col-md-12 col-sm-12 col-xs-12 ">
      <% if @lead.customer_id %>
        <div><a href="/sales/customers/<%=@lead.customer_id%>/edit?lead_id=<%=@lead.id%>" class="btn btn-primary ud-vd">Edit Customer Information</a></div>
      <% else %>
        <div><a href="/sales/customers/new" class="btn btn-primary ud-vd">Add New Customer</a></div>
      <% end %>
    </div> <!--btn create-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= form.input :travel_from,:as => :string, id: 'datetimepicker_from', placeholder: "Travel from"%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--travel from-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= form.input :travel_to,:as => :string, id: 'datetimepicker_to', placeholder: "Travel to"%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div> 
    </div> <!--travel to-->
    <div class="form-group">
      <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= form.input :contact_number,:as => :string, placeholder: "Contact Number"%>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--contact-->
    <div class="form-group">
      <div class="adult-and-child col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <div class="input-num-adult-lead-form col-md-6 col-sm-12 col-xs-12 padding-0">
          <%= form.input :adults, :as => :string, placeholder: "No. of Adults", input_html:{class: 'form-control'}%>
        </div>
        <div class="nput-num-adult-lead-form col-md-6 col-sm-12 col-xs-12 padding-0">
          <%= form.input :children, :as => :string, placeholder: "No. of Childrens", input_html:{class: 'form-control'}%>
        </div>
      </div>
      <div class = "col-md-2 col-sm-2 col-xs-12"></div>
    </div> <!--aldust+childrent-->
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 sum-pax-lead">
        No. of Pax: <span id="sum-pax"></span>
      </div>
    </div>

    <% if @lead.new_record? and @lead.errors.count == 0 %>
      <% @lead.lead_tour_category_tours.new %>
    <% end %>
    
    <li class="form-group">
      <%= form.semantic_fields_for :lead_tour_category_tours, {
        min_entry: 3,
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Add Tour"
      } do |tour| %>   
        <%= tour.inputs do %>
        
          <%= tour.input :tour_category_id, :as => :select, :collection => TourCategory.all.collect{|t| [t.name, t.id]},:input_html => { :class => 'lead-tour-category', :id => 'lead_tour_category'}%>  
         
          <%= tour.input :tour_id, :as => :select, :collection => tour.object.tour_category.nil? ? [] : tour.object.tour_category.tours.collect{|t| [t.name, t.id]}, :input_html => { :class => 'lead-tour', :id => 'lead_tour'} %>    
             
            <script language="javascript">
              $(document).ready(function() {
                $('.label').hide();         
                <% if controller.action_name == "edit"  %>                              
                  var leadTour = $('#lead_tour.lead-tour');
                  var leadTourCategory =  $('#lead_tour_category.lead-tour-category') ;  
                                
                <% else %>
                  var leadTour = $('#lead_tour.lead-tour').last();
                  var leadTourCategory =  $('#lead_tour_category.lead-tour-category').last();                                      
                  leadTour.prepend('<option value="">Tour Name</option>');
                  leadTour.val("");              
                  leadTourCategory.prepend('<option value="">Tour Category</option>');
                  leadTourCategory.val("");                                   
                <% end %>                                           
                leadTour.selectbox({});                          
                leadTourCategory.selectbox({
                  onChange: function (val, inst) {
                    var category_id = val;
                    var tourOfTourCategory = $(this).closest(".formnestic-li-fieldset").find("select#lead_tour.lead-tour");
                    tourOfTourCategory.selectbox("detach");
                    tourOfTourCategory.html('');
                    tourOfTourCategory.prepend('<option value="">Tour Name</option>');
                    tourOfTourCategory.val("");
                    if (category_id !== null) {
                      $.ajax({
                        url:"/tours/" + category_id + "/tour_of_tour_category",
                        data:{'id':category_id},
                        success:function(data){
                          $.each(data, function(index, item) {
                            var html = '<option value="'+item.id+'">'+item.name+'</option>';
                            tourOfTourCategory.append(html);
                          })            
                          tourOfTourCategory.selectbox({});            
                        }
                      })
                    } else {
                      tourOfTourCategory.selectbox({});
                    }
                  }                                                        
                });   
              });  
            </script>            
        <% end %>
      <% end %>
    </li>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
    <li id="lead_submit_action" class="action input_action ">
      <input type="submit" class="btn btn-primary ud-vd submit-lead-obj" value="save" name="commit">
      <a class="send-quotation" href="/sales/leads/<%=@lead.id%>/send_pdf_quotation" style="margin-left: 15px;">Send Quotation</a>
    </li>
     
  </div>
<% end %>

<script language="javascript">
  $(document).ready(function() {
    // run first select box for new lead
    <% if @lead.errors.count > 0 %>
    var leadTour = $('#lead_tour.lead-tour');
      var leadTourCategory =  $('#lead_tour_category.lead-tour-category');
      leadTour.selectbox({});                          
      leadTourCategory.selectbox({
        onChange: function (val, inst) {
          var category_id = val;
          var tourOfTourCategory = $(this).closest(".formnestic-li-fieldset").find("select#lead_tour.lead-tour");
          tourOfTourCategory.selectbox("detach");
          tourOfTourCategory.html('');
          tourOfTourCategory.prepend('<option value="">Tour Name</option>');
          tourOfTourCategory.val("");
          if (category_id !== null) {
            $.ajax({
              url:"/tours/" + category_id + "/tour_of_tour_category",
              data:{'id':category_id},
              success:function(data){
                $.each(data, function(index, item) {
                  var html = '<option value="'+item.id+'">'+item.name+'</option>';
                  tourOfTourCategory.append(html);
                })            
                tourOfTourCategory.selectbox({});            
              }
            })
          } else {
            tourOfTourCategory.selectbox({});
          }
        }                                                        
      });
    <% end %>
    
    
    
    $('.label').hide();
    var leadCustomerId = $('#lead_customer_id');
    <% if controller.action_name != "edit" and !@convert_cus_tomer_to_lead %>        
      leadCustomerId.prepend('<option value="">Select Customer</option>');
      leadCustomerId.val("");
    <% end %>
      
    leadCustomerId.selectbox({
      onChange: function(val) {
        $('#lead_customer_id option').removeAttr('selected');
        $('#lead_customer_id').val(val);
      }
    });    
    $('#lead_travel_to').datetimepicker({
      timepicker:false,
      format:'d/m/Y',
      onChangeDateTime: function (db, $input) {
        $('#lead_travel_from').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          maxDate: db,
        });
      }
    });    
    $('#lead_travel_from').datetimepicker({
      timepicker:false,
      format:'d/m/Y',
      onChangeDateTime: function (db, $input) {
        $('#lead_travel_to').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          minDate: db,
        });
      }  
    });
    
    //sum-pax
    $(document.body).delegate("#lead_adults, #lead_children", "keyup", function(){
      var adults = $("#lead_adults").val();
      var children = $("#lead_children").val();
      var sum;
      if(parseInt(adults) && !parseInt(children))
      {
        sum = parseInt(adults);
        $("#sum-pax").html(sum);
      }
      else if(!parseInt(adults) && parseInt(children)){
        sum = parseInt(children);
        $("#sum-pax").html(sum);
      }
      else if (parseInt(adults) && parseInt(children)){
        sum = parseInt(adults) + parseInt(children);
        $("#sum-pax").html(sum);
      }
    });
  });  
</script>