<%= semantic_form_for @lead,  :url => "/leads",  :html => {:method => :post} do |form| %>
  <%= form.inputs do %>
    <div class= "form-group">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <%= form.input :customer_id,:as => :select ,:collection => Customer.all.collect{|t| [t.name + " - " + t.email_address, t.id]},class: 'form-control'%>
      </div>
      <div class="col-md-1 col-sm-1 col-xs-12"></div>
    </div><!--select-customer-->
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
      <p>Or</p>
    </div> <!--0r-->
    <div class="form-group text-center col-md-12 col-sm-12 col-xs-12 ">
      <% if @lead.customer_id %>
        <div><a href="/customers/<%=@lead.customer_id%>/edit" class="btn btn-primary ud-vd">Edit Customer Information</a></div>
      <% else %>
        <div><a href="/customers/new" class="btn btn-primary ud-vd">Add New Customer</a></div>
      <% end %>
    </div> <!--btn create-->
    <div class="form-group">
      <%= form.input :travel_from,:as => :string, id: 'datetimepicker_from', placeholder: "Travel from", input_html:{class: "form-control"}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--travel from-->
    <div class="form-group">
      <%= form.input :travel_to,:as => :string, id: 'datetimepicker_to', placeholder: "Travel to", input_html:{class: "form-control input-icon-select-date" }, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--travel to-->
    <div class="form-group">
      <%= form.input :contact_number,:as => :string, placeholder: "Contact Number",  input_html:{class: "form-control"}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0"}%>
    </div> <!--contact-->
    <div class="form-group">
      <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 padding-0">
          <%= form.input :adults, :as => :string, placeholder: "No. of Adults", input_html:{class: 'form-control'}%>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 padding-0">
          <%= form.input :children, :as => :string, placeholder: "No. of Childrens", input_html:{class: 'form-control '} %>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-12 padding-0"></div>
      </div>
    </div> <!--aldust+childrent-->
    <% if @lead.new_record? %>
      <% @lead.tours.new %>
    <% end %>
    <li class="form-group">
      <%= form.semantic_fields_for :tours, {
        min_entry: 3,
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Add Tour"
      } do |tour| %>       
        <%= tour.inputs do %>
        
          <%= tour.input :tour_category_id, :as => :select, :collection => TourCategory.all.collect{|t| [t.name, t.id]},:input_html => { :class => 'form-control'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0 form-control lead-tour-category"}%>
        
          <%= tour.input :name, :as => :select , :collection => Tour.all.collect{|t| [t.name, t.id]}, :input_html => { :class => 'form-control lead-tour'}, wrapper_html: {class: "col-md-12 col-sm-12 col-xs-12 padding-0 lead-tour"}%>
       
        <% end %>
      <% end %>
    </li>
  <% end %>
  <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
    <%= form.action :submit, :label => "save", :button_html => { :class => "btn btn-primary ud-vd" } %>
  </div>
<% end %>

<script language="javascript">
  $(document).ready(function() {
    $('.label').hide();
    $('#lead_customer_id').selectbox({});
    $('#lead-tour-category').selectbox({});
    $('.form-group .lead-tour-category').selectbox({});
    $('.form-group .lead-tour').selectbox({});
    
    $('#lead_travel_from_input, #lead_travel_to').datetimepicker({
     lang:'de',
     i18n:{
      de:{
       months:[
        'Januar','Februar','März','April',
        'May','Jun','July','August',
        'September','October','November','Dezember',
       ],
       dayOfWeek:[
        "So.", "Mo", "Di", "Mi",
        "Do", "Fr", "Sa.",
       ]
      }
     },
     timepicker:false,
     format:'d/m/Y'
    });
  });  
</script>