<table class='listing-table vendor-listing-content-tab-vendor-rates'>
  <thead>
    <tr>
      <th class="no">Date</th>
      <th class="lead-thead-name">Name
          <a class="menu-down" href="#">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
      </th>
      <th class="lead-thead-email">Email Address
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="lead-thead-tour-category">Tour Category
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="lead-thead-status">Status
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="lead-thead-sale">Sale Person
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="lead-action" style='text-align: center;'>Action</th>
    </tr>
  </thead>        
  <tbody>
    <% if @leads.count > 0 %>
      <% @leads.each_with_index do |lead, index| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= index + 1 %></td>
          <td><%= lead.travel_from ? lead.travel_from.strftime("%d-%m-%Y") : "" %></td>                  
          <td><%= lead.customer.try(:name) %></td>
          <td><%= lead.customer.try(:email_address) %></td>
          <td><%= lead.lead_tour_category_tours ? lead.lead_tour_category_tours.first.tour_category.try(:name) : "N/A" %></td>
          <td><%= lead.status %></td>
          <td><%= lead.user.try(:username) %></td>              
          <td style='text-align: center;'>
            <%= link_to "Edit", edit_lead_url(lead), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='7'>No lead available<td>
      </tr>
    <% end %>
  </tbody>
</table>