<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Leadings</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/dashboard">Home</a>
          </li>
          <li class="active">
            <strong>Leadings</strong>
          </li>
        </ol>
      </div>
    </div>
    
    <div class='wrapper wrapper-content'>
      <div class='ibox'>
        
        <div class='ibox-content'>
          
          <div class="clearfix">
            <div id="vendor_filter">
              <% @leading_new = Lead.new %>
              <%= semantic_form_for @leading_new,  :url => "", :html => {:method => :get }  do |f| %>
                <%= f.inputs do %>
                  <%= f.input :status, :label => "Payment Status", :as => :select, placeholder: 'user@domain.com', collection: Lead.all.collect(&:status) %>
                  <%= f.input :user_id, :label => "Sales Person", :as => :select, collection: User.all %>
                  <%= f.input :travel_from, :label => "Travel From",:required => false, :as => :string, :input_html => { :class => 'input-icon-select-date'} %>
                  <%= f.input :travel_to, :label => "Travel To",:required => false, :as => :string, :input_html => { :class => 'input-icon-select-date'} %>
                <% end %>
                 <%= f.action :submit, :label => "Filter", :button_html => { :class => "btn btn-primary filter-lead" } %>
              <% end %>
            </div>
          </div>
          
          
          <div class='clearfix'>
            <%= link_to 'Add New', new_lead_url, class: "btn btn-primary pull-right" %>
          </div>
          
          <br/>
          <table class='listing-table vendor-listing-content-tab-vendor-rates'>
            <thead>
              <tr>
                <th>No.</th>
                <th>Date</th>
                <th>Name</th>
                <th>Email Address</th>
                <th>Tour Category</th>
                <th>Status</th>
                <th>Sales Person</th>
                <th>Action</th>
              </tr>
            </thead>        
            <tbody>
              <% @leads.each_with_index do |lead, index| %>
                <tr class="<%= cycle('odd', 'even') %>">
                  <td><%= index + 1 %></td>
                  <td><%= lead.travel_from ? lead.travel_from.strftime("%d-%m-%Y") : "" %></td>                  
                  <td><%= lead.customer.try(:name) %></td>
                  <td><%= lead.customer.try(:email_address) %></td>
                  <td><%= lead.lead_tour_category_tours ? lead.lead_tour_category_tours.first.tour_category.try(:name) : "N/A" %></td>
                  <td><%= lead.status %></td>
                  <td><%= lead.user.try(:username) %></td>              
                                
                  <td style='text-align: center;'>
                    <%= link_to "Edit", edit_lead_url(lead), class: 'btn btn-primary' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br/ >
        </div>
      </div>
    </div>
  </div>
</div>

   

<script language="javascript">
  $(document).ready(function() {
    
    $('#lead_travel_from').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
    }); 
    
    
    $('#lead_travel_to').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
    }); 
    
    
    $("select#lead_status").selectbox();
    $("select#lead_user_id").selectbox();
  });  
</script>
