<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading text-center">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="new-lead">
          <%= link_to 'New Lead', new_lead_url, class: "btn btn-primary pull-left", id: "new" %>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h2>Leads</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/dashboard">Home</a>
          </li>
          <li>
            <a href="/sales/dashboard">Sales</a>
          </li>
          <li class="active">
            <strong>Leads</strong>
          </li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div>
    
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid white-bg'>
      <div id="vendor_filter">
        <% @leading_new = Lead.new %>
        <%= semantic_form_for @leading_new,  :url => "", :html => {:method => :get }  do |f| %>
          <%= f.inputs do %>
          <div class= "form-group">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
              <%= f.input :status, :as => :select, collection: Booking::BOOKING_STATUS , include_blank: false %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div><!--select-booking-status-->
          <div class= "form-group">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
              <%= f.input :user_id, :as => :select, collection: User.all.reject{ |x| x.username.nil?}, include_blank: false %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div><!--select-sales-person-->
          <div class="form-group">
            <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
               <%= f.input :travel_from, :as => :string, :input_html => { :class => 'input-icon-select-date'}, wrapper_html:{class: "text-center"}, placeholder: "Travel from"%>
            </div>
            <div class = "col-md-2 col-sm-2 col-xs-12"></div>
          </div> <!--travel from-->
          <div class="form-group">
            <div class = "col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
               <%= f.input :travel_to, :label => "Travel To", :as => :string, :input_html => { :class => 'input-icon-select-date'}, wrapper_html:{class: "text-center"},placeholder: "Travel to" %>
            </div>
            <div class = "col-md-2 col-sm-2 col-xs-12"></div>
          </div> <!--travel to-->
          <% end %>
           <%= f.action :submit, :label => "Filter", :button_html => { :class => "btn btn-primary filter-lead" } %>
        <% end %>
      </div>
    </div>
    <div id="listing-table">
       <%= smart_listing_render(:leads) %>
    </div>
  </div>
</div>

   

<script language="javascript">
  $(document).ready(function() {
    
    
  <% show_flash ||= false %>
  <% if show_flash %>
    $.cookie('flashType', "notice", { path: '/' });
    $.cookie('flashMessage', 'Lead has been saved successfully!', { path: '/' });
    toastr['success']($.cookie('flashMessage'));
    $.removeCookie('flashType', { path: '/' });
    $.removeCookie('flashMessage', { path: '/' });
  <%  end %>
    
    
    
    
    var leadStatusValue, leadUserId;
    $('#lead_travel_from,#lead_travel_to').val("");
    $('.label').hide();
    $('#lead_travel_from').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#lead_travel_to').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
           minDate: db,
        });
      }     
    });     
    
    $('#lead_travel_to').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
      onChangeDateTime: function (db, $input) {
        $('#lead_travel_from').datetimepicker({
          timepicker: false,
          format:'d-m-Y',
          maxDate: db,
        });
      }
   
    }); 
  
    var leadStatus = $("select#lead_status");
    leadStatus.prepend('<option value="">Booking Status</option>');
    leadStatus.val("");
    leadStatus.selectbox({
      onChange: function (val, inst) {
        leadStatusValue = val;
      }
    });
    
    
    var leadSale = $("select#lead_user_id");
    leadSale.prepend('<option value="">Sales Person</option>');
    leadSale.val("");
    leadSale.selectbox({
      onChange: function (val, inst) {
        leadUserId = val;
      }
    });
        
    $(document.body).delegate("input.filter-lead", "click", function(e){
      e.preventDefault();     
      var url = "/sales/leads";
      var travel_from = $("#lead_travel_from").val();
      var travel_to = $("#lead_travel_to").val();
      
      $.ajax({
        url: url,
        type: "GET",
        data:{
          ajax_call: true,
          lead_status: leadStatusValue,
          user_id: leadUserId,
          travel_from: travel_from,
          travel_to: travel_to
        },
        success: function(data) {
          $('div#listing-table').html(data);
        },
        error: function() {
        }
      });
      return false;
    });
    
  });  
</script>
