<%= semantic_form_for @customer,:url =>  @customer.new_record? ? "/sales/customers" : ("/sales/customers/#{@customer.id}" + @params_redirect_to), :html => {:method => @customer.new_record? ? :post : :put, :class => @customer.new_record? ? "ajax-form convert-customer-to-lead" : "ajax-form"} do |form| %>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :name, :as => :string, placeholder: "Name Customer"%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :email_address, :as => :string, placeholder: "Email Address"%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :contact_number, :as => :string, placeholder: "Contact Number"%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :address, :as => :string, placeholder: "Address"%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 lead-group-select">
       <%= form.input :country_id,:as => :select ,:collection =>Country.all.collect{|t| [t.name, t.id]}, include_blank: false %>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0 lead-group-select">
       <%= form.input :source_id,:as => :select ,:collection =>Source.is_active.collect{|t| [t.name, t.id]} ,class: 'form-control lead-group-select', include_blank: false%>
     </div>
     <div class="col-md-2 col-sm-2 col-xs-12"></div>
   </div>
   <div class="form-group text-center">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
       <button class="btn btn-primary save-form-button add-saving-after-click" id="done" type="submit">Save</button>
     </div>
   </div>

<% end %>
<script language="javascript">
  $(document).ready(function() {
    var customerCountry = $('#customer_country_id');
    <% if controller.action_name != "edit" %>
    customerCountry.prepend('<option value="">--Select Country--</option>');
    customerCountry.val("");
    <% end %>
    customerCountry.selectbox({
      onChange: function(val) {
        $('#customer_country_id option').removeAttr('selected');
        $('#customer_country_id').val(val);
      }
    });
    
    var customerSource = $('#customer_source_id');
    <% if controller.action_name != "edit" %>
    customerSource.prepend('<option value="">--Select Source--</option>');
    customerSource.val("");
    <% end %>
    customerSource.selectbox({
      onChange: function(val) {
        $('#customer_source_id option').removeAttr('selected');
        $('#customer_source_id').val(val);
      }
    });
  })
</script>
