<%= semantic_form_for @customer,:url =>  @customer.new_record? ? "/customers" : "/customers/#{@customer.id}", :html => {:method => @customer.new_record? ? :post : :put} do |form| %>
   <div class= "form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
       <%= form.input :name, :as => :string, placeholder: "Name Customer", input_html:{class: "form-control"}%>
     </div>
   </div>
   <div class= "form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
       <%= form.input :email_address, :as => :string, placeholder: "Email address", input_html:{class: "form-control"}%>
     </div>
   </div>
   <div class= "form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
       <%= form.input :contact_number, :as => :string, placeholder: "Contact Number", input_html:{class: "form-control"}%>
     </div>
   </div>
   <div class= "form-group">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
       <%= form.input :address, :as => :string, placeholder: "Address", input_html:{class: "form-control"}%>
     </div>
   </div>
   <div class= "form-group">
     <div class="col-md-10 col-md-offset-1 col-xs-12 padding-0 select-country">
       <%= form.input :country_id,:as => :select ,:collection =>Country.all.collect{|t| [t.name, t.id]} ,class: 'form-control lead-group-select'%>
     </div>
     <div calss="col-md-1 col-sm-1 col-xs-12 padding-0"></div>
   </div>
   <div class= "form-group">
     <div class="col-md-10 col-md-offset-1 col-xs-12 padding-0 select-source">
       <%= form.input :source_id,:as => :select ,:collection =>Source.all.collect{|t| [t.name, t.id]} ,class: 'form-control lead-group-select'%>
     </div>
     <div calss="col-md-1 col-sm-1 col-xs-12 padding-0"></div>
   </div>
   <div class="form-group text-center">
     <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
       <button class="btn btn-primary save-form-button" id="done" type="submit">Done</button>
     </div>
   </div>

<% end %>
<script language="javascript">
  $(document).ready(function() {
    $('.label').hide();
    $('#customer_country_id, #customer_source_id').selectbox({});
  })
</script>
