<% unless smart_listing.empty? %>
 
<table class='listing-table'>
  <%= smart_listing.pagination_per_page_links %>
  <thead>
    <tr>
      <th class="no">No.</th>    
      <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Customer Name", "name" %></th>
      <th class="customer-thead-email cus-style-white"><%= smart_listing.sortable "Email Address", "email_address" %></th>
      <th class="customer-thead-contact cus-style-gray"><%= smart_listing.sortable "Contact", "contact_number" %></th>
      <th class="customer-thead-address cus-style-white"><%= smart_listing.sortable "Address", "address" %></th> 
      <th class="customer-thead-country">Country</th>
      <th class="customer-thead-source">Source</th>
      
      <th class="customer-action" style='text-align: center;'>Action</th>
    </tr>
  </thead>     
  <tbody>   
    <% smart_listing.collection.each_with_index do |customer, index| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <% if params[:customers_smart_listing] and params[:customers_smart_listing][:page] and  params[:customers_smart_listing][:page].to_i > 0 %>
        <% index_show = (params[:customers_smart_listing][:page].to_i - 1)*10 + index + 1 %>
        <% else %>
        <% index_show = index + 1 %>
        <% end %>
        <td><%= index_show %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email_address %></td>
        <td><%= customer.contact_number %></td>
        <td><%= customer.address %></td>
        <td><%= customer.country ? customer.country.name : "N/A" %></td>
        <td><%= customer.source ? customer.source.name : "N/A" %></td>
        <td style='text-align: center;'>
          <%= link_to "", edit_customer_path(customer), class: 'glyphicon glyphicon-pencil' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= smart_listing.paginate  %>


<% else %>
  <p class="warning">No records!</p>
<% end %>   
