<% unless smart_listing.empty? %>
<table class='listing-table'>
  <thead>
    <tr>
      <th class="no">No.</th>
      <th class="customer-thead-name">Customer Name
          <a class="menu-down" href="#">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
      </th>
      <th class="customer-thead-email">Email Address
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-contact">Contact
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-address">Address
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-country">Country
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-source">Source
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-action" style='text-align: center;'>Action</th>
    </tr>
  </thead>     
  <tbody>
    
    <% smart_listing.collection.each_with_index do |customer, index| %>
      <tr>
        <% if params[:customers_smart_listing] and params[:customers_smart_listing][:page] and  params[:customers_smart_listing][:page].to_i > 0 %>
        <% index_show = (params[:customers_smart_listing][:page].to_i - 1)*10 + index + 1 %>
        <% else %>
        <% index_show = index + 1 %>
        <% end %>
        <td><%= index_show %></td>
        <td><%= customer.name %></td>
        <td><%= customer.email_address %></td>
        <td><%= customer.contact_number %></td>
        <td><%= customer.address %></td>
        <td><%= customer.country ? customer.country.name : "N/A" %></td>
        <td><%= customer.source ? customer.source.name : "N/A" %></td>
        <td style='text-align: center;'>
          <%= link_to "", edit_customer_path(customer), class: 'glyphicon glyphicon-pencil' %>
        </td>
        <td>
          <%= link_to 'Delete', customers_path(customer),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= smart_listing.paginate  %>

<% else %>
  <p class="warning">No records!</p>
<% end %>   