<%= form_for @tour, html: { class: 'form-horizontal ajax-form', enctype: 'multipart/form-data' } do |form| %>
  <div class='form-group'>
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
      <%= form.text_field :name, class: 'form-control', placeholder: "Name Tour" %>
    </div>
  </div>
  
  <div class='form-group'>
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
      <%= form.text_field :code, class: 'form-control', placeholder: "Code" %>
    </div>
  </div>
  
  <div class='form-group'>
    <div class="col-md-10 col-md-offset-1 col-xs-12 padding-0 select-new-tour">
      <%= form.select :tour_category_id, TourCategory.all.collect{|t| [t.name, t.id]}, {}, { class: 'form-control' }%>
    </div>
    <div class="col-md-1 col-md-1 col-xs-12 padding-0"></div>
  </div>
  
  <div class="form-group text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
      <a class="btn btn-white" href='<%= tours_url %>'>Cancel</a>
      <button class="btn btn-primary save-form-button" type="submit">Save Changes</button>
    </div>
  </div>
  
<% end %>
