
<%= semantic_form_for @tour,:url =>  @tour.new_record? ? "/tours" : "/tours/#{@tour.id}", :html => {:method => @tour.new_record? ? :post : :put, :class => "form-horizontal tour"} do |form| %>

  <div class= "form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :name, :as => :string, placeholder: "Tour Name", input_html:{class: "form-control"}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  
  <div class= "form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= form.input :description, :as => :string, placeholder: "description", input_html:{class: "form-control"}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  
  
  <div class="form-group">
    <div class="price-per-person-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <div class="price-per-person col-md-6 col-sm-12 col-xs-12 padding-0">
        <%= form.input :price_per_person, :as => :string, placeholder: "Price per person", input_html:{class: "form-control"}%>
      </div>
      <div class="min-of-pax col-md-6 col-sm-12 col-xs-12 padding-0">
        <%= form.input :min_number_pax, :as => :number, placeholder: "minimum number of pax", input_html:{class: "form-control"}%>
      </div>
    </div>
    <div class = "col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  
  
  
  <div class= "form-group">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :code, :as => :string, placeholder: "Code", input_html:{class: "form-control"}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  
 <div class= "form-group">
   <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= form.input :tour_category_id, :as => :select, :collection => TourCategory.all.collect{|t| [t.name, t.id]}%>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-12"></div>
  </div>
  
  <div class="form-group text-center">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0">
      <button class="btn btn-primary save-form-button add-saving-after-click" id="done" type="submit">Save</button>
    </div>
  </div>
  
<% end %>
<script language="javascript">
  $(document).ready(function() {
    var tourCategory = $('.tour #tour_tour_category_id');
    <% if controller.action_name != "edit" %>
    tourCategory.prepend('<option value="">--Select Tour Category--</option>');
    tourCategory.val("");
    <% end %>
    
    tourCategory.selectbox({
      onChange: function(val) {
        $('.tour #tour_tour_category_id option').removeAttr('selected');
        $('.tour #tour_tour_category_id').val(val);
      }
    });
    
    $('#tour_description').summernote({
      height: 300,
    });
  })
</script>