<% unless smart_listing.empty? %> 
  <%= smart_listing.pagination_per_page_links %>
  <table class='listing-table'>
    <thead>
      <tr>
        <th class="tour-no">No.</th>
        <th class="customer-thead-name cus-style-gray"><%= smart_listing.sortable "Tour Code", "code" %></th>
        <th class="customer-thead-name cus-style-white"><%= smart_listing.sortable "Tour Name", "name" %></th>     
        <th class="tour-thead-category cus-style-gray"><%= smart_listing.sortable "Tour Category", "tour_categories.name" %></th>
        <th class="tour-action" style='text-align: center;'>Action</th>
      </tr>
    </thead>        
    <tbody>
      <% smart_listing.collection.each_with_index do |tour, index| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <% if params[:tours_smart_listing] and params[:tours_smart_listing][:page] and  params[:tours_smart_listing][:page].to_i > 0 %>
          <% index_show = (params[:tours_smart_listing][:page].to_i - 1)*10 + index + 1 %>
          <% else %>
          <% index_show = index + 1 %>
          <% end %>
          <td><%= index_show %></td>
          <td><%= tour.code %></td>
          <td><%= tour.name.html_safe %></td>
          <td><%= tour.tour_category ? tour.tour_category.name : "N/A" %></td>
          <td style='text-align: center;'>
            <%= link_to "", edit_tour_url(tour), class: 'glyphicon glyphicon-pencil' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <%= smart_listing.paginate  %>
<% else %>
  <p class="warning">No records!</p>
<% end %>  