<%= semantic_form_for @vendor,  :url =>  @vendor.new_record? ?  "/vendors" : "/vendors/#{@vendor.id}",  :html => {:method => @vendor.new_record? ? :post : :put } do |f| %>
    <%= f.inputs do %> 
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :name,  as: :string, placeholder: "Vendor Name" %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :vendor_type, as: :string, placeholder: "Vendor type" %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :email, as: :string, placeholder: "Email Address"  %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :contact, as: :string, placeholder: "Contact Number"  %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :fax, as: :string, placeholder: "Fax Number"  %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
        <%= f.input :vendor_category_id, as: :select,  collection: VendorCategory.all.collect{|t| [t.name, t.id]} %>
      </div>
    </div>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
       <%= f.input :city_id, as: :select,  collection: City.all.collect{|t| [t.name, t.id]} %>
      </div>
    </div>
    <% end %>
    <%= f.actions do %>
    <div class= "form-group">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
      <%= f.action :submit, :label => "Save", :button_html => { :class => "btn btn-primary save-form-button submit-bt" } %>
      </div>
    </div>
    <% end %>
<% end %>
  
<script language="javascript">
  $(document).ready(function() {
    var vendorCategoryId = $("#vendor_vendor_category_id");
    var city = $("#vendor_city_id")
    <% if controller.action_name != "edit" %>
      vendorCategoryId.prepend('<option value="">--  Vendor Category  --</option>');
      vendorCategoryId.val("");
      city.prepend('<option value="">--  Select City  --</option>');
      city.val("");
    <% end %>
      
    city.selectbox();
    vendorCategoryId.selectbox();
  });  
</script>