<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading text-center">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class='new-vendor'>
          <%= link_to 'Add New', new_vendor_url, class: "btn btn-primary pull-left mr-top-20" %>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h2>Suppliers</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/dashboard">Home</a>
          </li>
          <li>
            <a href="/vendors/dashboard_page">Reservations</a>
          </li>
          <li class="active">
            <strong>Suppliers</strong>
          </li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class='ibox-content container-fluid white-bg' style="padding-top: 40px; padding-bottom: 0px; float: right; padding-right: 0px;">
          
          <div id="vendor_filter_rs">
            <%= smart_listing_controls_for(:vendors) do %>
            <ol class='filter-form-group' >
              <li class="date-form-field" style="width: 220px;">
                
                <%= text_field_tag :name, "", name: "search_rs[search_all]", class: "input-search-mini-box", placeholder: "Search"  %> 
                <a class="submit icon-search-style" style="color: #ccc;">
                  <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                </a>
              </li>                     
            </ol>  
            <% end %>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
    
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid white-bg' style="padding-bottom: 0px; border-top: 3px solid #d3dade;">
      <div id="vendor_filter" class="reservations">
        <% @vendor_new = Vendor.new %>
        <% @vendor_new.vendor_category_id = @vendor_categopry_id if  @vendor_categopry_id %>
        <%= semantic_form_for @vendor_new,  :url => "/vendors", :html => {:method => :get }  do |f| %>
          <%= f.inputs do %>
          <div class= "form-group">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
            <%= f.input :vendor_category_id, :as => :select, placeholder: 'user@domain.com', collection: VendorCategory.all, :include_blank => false  %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div>
          <div class= "form-group">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
            <%= f.input :city_id, :label => "Select City", :as => :select, collection: City.all , :include_blank => false %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12"></div>
          </div>
          <% end %>
           <li id="vendor_submit_action" class="action input_action ">
             <input type="submit" class="btn btn-primary filter-style filter-vendors" value="Filter" name="commit" style="margin-right:10px;">
             <input type="submit" class="btn btn-primary filter-style filter-vendors cancel-filter" value="Cancel" name="commit" style="margin-left: 10px;">
           </li>
        <% end %>
      </div>
    </div>
    <div id="listing-table">
       <%= smart_listing_render(:vendors) %>
    </div>
  </div>
</div>

  
<script language="javascript">
  $(document).ready(function() {
    var category_id;
    var city_id;
    <% if flash[:notice] %>
      $.cookie('flashType', "notice", { path: '/' });
      $.cookie('flashMessage', 'vendor has been saved successfully!', { path: '/' });
      toastr['success']($.cookie('flashMessage'));
      $.removeCookie('flashType', { path: '/' });
      $.removeCookie('flashMessage', { path: '/' });
      <% flash[:notice] = false %>
    <%  end %>
    
    var vendorCategory = $("select#vendor_vendor_category_id");
    <% if !@vendor_categopry_id.present? %>
      vendorCategory.prepend('<option value="">-- Supplier Category --</option>');
      vendorCategory.val("");
    <% end %>
    vendorCategory.selectbox({
      onChange: function (val, inst) {
        category_id = val;
      }
    });
    
    var vendorCity = $("select#vendor_city_id");
    vendorCity.prepend('<option value="">-- Select City --</option>');
    vendorCity.val("")
    vendorCity.selectbox({
      onChange: function (val, inst) {
        city_id = val;
      }
    });
    
    
    
    $(document.body).delegate('.filter-vendors', 'click', function(e) {
      if ($(e.currentTarget).hasClass("cancel-filter")) {
        $('#vendor_filter form').trigger("reset");   
        vendorCategory.selectbox("detach");
        vendorCategory.val("");
        vendorCategory.selectbox({
          onChange: function (val, inst) {
            category_id = val;
          }
        });        
        vendorCity.selectbox("detach");
        vendorCity.val("");
        vendorCity.selectbox({
          onChange: function (val, inst) {
            city_id = val;
          }
        });    
        category_id = "";
        city_id = ""; 
      }
      $.ajax({
        type: "GET",
        url: "/vendors",
        data: {
          category_id: category_id,
          city_id: city_id,
          ajax_call: true,
        },
        success: function (data) {
          $(".listing-table").html(data)
        }
      });    
      return false
    });
      
      
  });  
</script>
