<div class="list-competitor-name">
  <% @vendor_rate.competitors.each_with_index do |competitor, index|%>
    <span class="competitor-name <%= @competitor_id == competitor.try(:id) ? 'active' : ''%>" data-id="<%= competitor.try(:id)%>"><%= competitor.try(:name)%> </span>
  <% end %>
</div>
<div class="form-content-data">
<%= semantic_form_for @vendor_rate,  :url => "/vendor_rates/#{@vendor_rate.id}/update_current_contact/#{@vendor.id}?competitor_id=#{@competitor_id}", :html => {:method => :post, :multipart => true }  do |f| %>  
	<div class='content' style="margin-bottom: 30px; margin-top: 30px;">
	  <div class='column-inside'>
      <table class='salary-table' id='salary_table'>
        <thead>
          <tr>
            <th> Seasons/ Room Type</th>
            <% @vendor.rooms.each do |room| %>
              <th><span class="arrow-down"></span><%=room.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% Season.all.each do |season| %>
            <tr>
              <th><%= season.name %></th>
              <% @vendor.rooms.each do |room| %>
                <td>
                  <input class="" type="text" value="<%= SeasonRoomPrice.find_price_competitor(season.id, room.id, @vendor_rate.rate_type, @vendor_rate.try(:id), @competitor_id) %>" name="room_price[<%=room.id%>_<%=season.id%>_<%=@vendor_rate.rate_type%>_<%=@vendor_rate.id%>_<%=@competitor_id%>]" maxlength="10">
                  <span class="span-behind-input" style="min-height: 27px;"><%=SeasonRoomPrice.find_price_competitor(season.id, room.id, @vendor_rate.rate_type, @vendor_rate.try(:id), @competitor_id)%></span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
	  </div>
	</div>  
  <%= f.action :submit, :value => "Save", :button_html => { :class => "btn btn-primary ud-vd eeee" } %>      
<% end %>
</div>

<script language="javascript">
  
 $(document).ready(function(){
   $(document.body).delegate("span.competitor-name", "click", function(e) {
     $("span.competitor-name").removeClass("active");
     $(this).addClass("active");
     var competitor_id = $(this).data("id");
     var vendor_id = <%= @vendor.id %>;
     var vendor_rate_id = <%= @vendor_rate.id %>;
    
     $.ajax({
       type: "GET",
       url: "/vendor_rates_controll/filter_table_by_competitor",
       data: {
         competitor_id: competitor_id,
         vendor_id: vendor_id,
         vendor_rate_id: vendor_rate_id
       },
       success: function (data) {
         $(".form-content-data").html(data)
       }
     });    
     return false
   });
  });
</script>