<%= semantic_form_for @vendor_rate,  :url => "/vendor_rates/#{@vendor_rate.id}/update_current_contact/#{@vendor.id}", :html => {:method => :post, :multipart => true }  do |f| %>
  <%= f.inputs do %>
    <% if @vendor_rate.rate_type != 4 %>
      <div class="col-md-12" style="padding-left: 0px; margin-bottom: 12px;">
        <div clas="fn-and-btdl" style="width: 290px; float: left">
          <span class="file-name-show"><%= f.object.contract_file.exists? ? f.object.contract_file_file_name.truncate(20) : "No file selected" %></span>
          <% if f.object.contract_file.exists? %>
            <a href="/vendor_rates/<%= @vendor_rate.id %>/download_files" class="bt-dl-fl">
              <span class="download"> Download</span>
            </a>
            <div style="float: left; position: relative;">
              <span class="upload-file-cus">Replace file</span>
              <%= f.input :contract_file %> 
            </div>
          <% else %>
           
            <a disabled >
              <span class="download" class="bt-dl-fl"> Download</span>
            </a>
            <div style="float: left; position: relative;">
              <span class="upload-file-cus">Up load file</span>
              <%= f.input :contract_file %> 
            </div>
          <% end %>
        </div>
      </div>
          
    <% end %>
  <% end %>
   
	<div class='content' style="margin-bottom: 30px; margin-top: 30px;">
	  <div class='column-inside'>
      <table class='salary-table' id='salary_table'>
        <thead>
          <tr>
            <th> Seasons/ Room Type</th>
            <% @vendor.rooms.each do |room| %>
              <th><span class="arrow-down"></span><%=room.name %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% Season.all.each do |season| %>
            <tr>
              <th><%= season.name %></th>
              <% @vendor.rooms.each do |room| %>
                <td>
                  <% price = SeasonRoomPrice.find_price(season.id, room.id, @vendor_rate.rate_type, @vendor_rate.try(:id)) || 0 %>
                  <% price_with_gst_7_percent = price + price*7/100 %>
                  <input class="" type="text" value="<%= SeasonRoomPrice.find_price(season.id, room.id, @vendor_rate.rate_type, @vendor_rate.try(:id)) %>" name="room_price[<%=room.id%>_<%=season.id%>_<%=@vendor_rate.rate_type%>_<%=@vendor_rate.id%>]" maxlength="10">
                  <span class="span-behind-input"><%= price_with_gst_7_percent %></span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
	  </div>
	</div>  
  <%= f.action :submit, :label => "Update Competitor Rate", :button_html => { :class => "btn btn-primary ud-vd" } %>      
<% end %>
<script language="javascript">
  $(document).ready(function(){
    $(document.body).delegate(".upload-file-cus", "click", function(e){      
      $("input#vendor_rate_contract_file").click();     
    });
    
    
  });
</script>
