<% updated ||= false %>

<%= semantic_form_for @vendor,  :url => "/vendor_rates/#{@vendor.id}/update_vendor_rates",  :html => {:method => :post} do |form| %>
  <%= form.inputs do %>
    <li>
      <%= form.semantic_fields_for :vendor_rates, {
        row_removable: true, 
        row_addable: true,
        new_record_link_label: "+ Create a new Ad-hoc rate"
      } do |vendor_rate| %>       
        <%= vendor_rate.inputs do %>
            <a class="btn btn-primary pull-right" href="/vendor_rates/<%=vendor_rate.object.id %>/edit_rate?vendor_id=<%= @vendor.id %>">Enter Rates</a>
            
            <% case vendor_rate.object.rate_type %> 
            <% when 1 %> 
              
              <p style="font-size: 20px; margin-bottom: 30px;"><%= "Current Contact Rate status" %></p>
              <%= vendor_rate.input :effective, :label => "Effective Date" ,as: :string , :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= vendor_rate.input :expired, :label => "Expired Date " ,as: :string, :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <p class="pdl-60" style="margin-top: 20px; margin-bottom: 20px;"> Remaining Validity: [Auto-computation] </p>
              <%= vendor_rate.input :remarks, :label => "Remarks" ,as: :string, :required => false %>
            <% when 2 %> 
             
              <p style="font-size: 20px; margin-bottom: 30px;"><%= "Next Contact Rate status" %></p> 
              <%= vendor_rate.input :effective, :label => "Effective Date" ,as: :string , :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= vendor_rate.input :expired, :label => "Expired Date " ,as: :string, :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= vendor_rate.input :remarks, :label => "Remarks" ,as: :string, :required => false %>
            <% when 3 %> 
            
            
              <p style="font-size: 20px; margin-bottom: 30px;"><%= "Competitor Rates" %></p>
               <%= vendor_rate.semantic_fields_for :competitors, {
                 row_removable: true, 
                 row_addable: true,
                 new_record_link_label: "+ Create a new Competitor"
               } do |competitor| %>
                  <%= competitor.inputs do %>
                    <%= competitor.input :name, as: :string %>
                  <% end %>
             <% end %>
             
            <% else %> 
            
              <p style="font-size: 20px; margin-bottom: 30px;"><%= "Ad-hoc Rates" %></p>
              <%= vendor_rate.input :effective, :label => "Effective Date" ,as: :string , :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= vendor_rate.input :expired, :label => "Expired Date " ,as: :string, :required => false, :input_html => { :class => 'input-icon-select-date'} %>
              <%= vendor_rate.input :remarks, :label => "Remarks" ,as: :string, :required => false %>
            <% end %>      
          
        <% end %>
      <% end %>
    </li>
  <% end %>
  <%= form.action :submit, :label => "Update Vendor", :button_html => { :class => "btn btn-primary ud-vd" } %>
<% end %>

<script language="javascript">
  $(document).ready(function(){
    <% for num in 0..4 %>
    
      $('#vendor_vendor_rates_attributes_<%=num%>_effective').datetimepicker({
        timepicker: false,
        format:'d-m-Y',
      }); 
      
      $('#vendor_vendor_rates_attributes_<%=num%>_expired').datetimepicker({
        timepicker: false,
        format:'d-m-Y',
      }); 
      
    <% end %>
    
  });
</script>