<thead>
  <tr>
    <th>No.</th>
    <th>Name</th>
    <th>Vendor Category</th>
    <th>City</th>
    
    <th colspan='2' style='text-align: center;'>Rates</th>
  </tr>
</thead>        
<tbody>
  <% @vendors.each_with_index do |vendor, index| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= index + 1 %></td>
      <td><%= vendor.name.html_safe %></td>
      <td><%= vendor.vendor_category ? vendor.vendor_category.name : "N/A" %></td>
      <td><%= vendor.city ? vendor.city.name : "N/A" %></td>
                            
      <td style='text-align: center;'>
        <%= link_to "View", "/vendor_rates/#{vendor.id}/view_rate", class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
</tbody>