<div class="row wrapper border-bottom white-bg page-heading text-center">
  <div class='col-lg-12'>
    <div class="m-b-md text-center">
      <a href="<%= incomings_url %>" class="btn btn-primary pull-left btn-back">&larr; Back</a>
      <h2>Incoming</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/sales/dashboard">Sales</a>
        </li>
        <li class="active">
          <strong>Incoming</strong>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox white-bg incoming-detail'>
    <div class='ibox-title incoming-header container-fluid'>
      <div class="col-xxs-12 col-xs-6 col-xm-6 col-sm-6 col-md-6 padding-0" style="float:right;">
        <select id="status_select" >
          <option value="allocated">Allocated To</option>
        </select>
      </div>
      <p class='title col-xxs-12 col-xs-6 col-sm-6 col-md-6 padding-0'>Date: <span><%= @incoming.created_at.strftime("%Y-%-m-%d") %></span></p>
    </div>  
    <div class='ibox-content'>
      <p class='title'>Title: <span><%= @incoming.title %></span></p>
      <p class='title no-margin'>Content:</p>
      <p class='content'><%= @incoming.content %></p> 
      <p id="comment_count" class='title legend' data-count='<%= @incoming.incoming_comments.count %>'>Comments (<%= @incoming.incoming_comments.count %>)</p>
      <ul id='comment_listings' class='comments-box'>
        <% @incoming.incoming_comments.each do |comment| %>
          <%= render partial: 'comment_box', locals: {comment: comment}%>
        <% end %>
      </ul>
      
      <div class='submit-comment-box container-fluid'>
        <textarea id="comment_input" class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ></textarea>
        <div class='user-info col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <div class='info-content'>
            <div class='avatar-box'>
              <img src="/assets/dashboard/persona.png">
            </div>
            <div class='name-label'>You</div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12" style="padding:0;">
          <div id='submit_comment' class='btn btn-primary' data-url="<%= submit_comment_incoming_url(@incoming) %>">Post Comment</div>
        </div>  
      </div>  
      
    </div>
  </div>
</div>
<script language="javascript">
  $(document).ready(function() {
    $('.date-field').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
    }); 
    
    $("select#status_select").selectbox({
      onChange: function(val){
        $("select#status_select").val(val);
        $("select#status_select").trigger("change");
      }
    });
  });  
</script>
