<div class="row wrapper border-bottom white-bg page-heading text-center">
  <div class='col-lg-12'>
    <div class="m-b-md text-center">
      <a href="<%= incomings_url %>" class="btn btn-primary pull-left btn-back">&larr; Back</a>
      <h2>Incoming</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/sales/dashboard">Sales</a>
        </li>
        <li class="active">
          <strong>Incoming</strong>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox white-bg incoming-detail'>
    <div class='ibox-title incoming-header container-fluid'>
      <div class="col-xxs-12 col-xs-6 col-xm-6 col-sm-6 col-md-6 padding-0" style="float:right;">
          <%= semantic_form_for @incoming do |f| %>
            <%= f.inputs do %>
              <%= f.input :user_id, :as => :select, :collection => @users, include_blank: false %>
            <% end %>
          <% end %>
      </div>
      <p class='title col-xxs-12 col-xs-6 col-sm-6 col-md-6 padding-0'>Date: <span><%= @incoming.created_at.strftime("%Y-%-m-%d") %></span></p>
    </div>  
    <div class='ibox-content'>
      <p class='title'>Title: <span><%= @incoming.title %></span></p>
      <p class='title no-margin'>Content:</p>
      <p class='content'><%= @incoming.content %></p> 
      <p id="comment_count" class='title legend' data-count='<%= @incoming.incoming_comments.count %>'>Comments (<%= @incoming.incoming_comments.count %>)</p>
      <ul id='comment_listings' class='comments-box'>
        <% @incoming.incoming_comments.each do |comment| %>
          <%= render partial: 'comment_box', locals: {comment: comment}%>
        <% end %>
      </ul>
      
      <div class='submit-comment-box container-fluid'>
        <textarea id="comment_input" class="col-xs-8 col-sm-8 col-md-8 col-lg-8" ></textarea>
        <div class='user-info col-xs-4 col-sm-4 col-md-4 col-lg-4'>
          <div class='info-content'>
            <div class='avatar-box'>
              <img src="/assets/dashboard/persona.png">
            </div>
            <div class='name-label'>You</div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12" style="padding:0;">
          <div id='submit_comment' class='btn btn-primary' data-url="<%= submit_comment_incoming_url(@incoming) %>">Post Comment</div>
        </div>  
      </div>  
      
    </div>
  </div>
</div>

<div id="incoming_allocated_for_user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid'>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="accept" class= "col-md-12 col-sm-12 col-xs-12">
            <div class='col-md-12 col-sm-12 col-xs-12' style="padding: 0px;">
              <p style="font-size: 18px; line-height: 2em; font-weight: 600;">Do you want to allocate this lead to the user?</p>
              <p class="append-username" style="font-size: 14px; margin-bottom: 3px;">Lead will be allocated to user</p>
              <p style="font-size: 14px; margin-bottom: 30px;">A lead will be created based on this incoming item.</p>
            </div>
            <div class='col-md-12 col-sm-12 col-xs-12 text-center'>              
              <a class="no-box-redirect-url close-modal-box-ic">No</a>
              <a class="no-box-redirect-url close-modal-box-ic yes-create-lead-base-on-ic">Yes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<div id="success_mess_after_create_lead" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid' style="padding-bottom: 0px;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div id="accept" class= "col-md-12 col-sm-12 col-xs-12">
            <div class='col-md-12 col-sm-12 col-xs-12' style="padding: 0px;">
              <p class="change-action-name" style="font-size: 18px; line-height: 2em; font-weight: 600; color: green;">A Lead was created base on that incoming</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>    
</div>

<script language="javascript">
  $(document).ready(function() {
    $('.date-field').datetimepicker({
      timepicker: false,
      format:'d-m-Y',
    }); 
    
    var userIdIncomingCreateLead;
    
    var incoming_user_id = $("select#incoming_user_id");
    <% if @incoming.user_id.nil? %>        
      incoming_user_id.prepend('<option value="">Allocated</option>');
      incoming_user_id.val("");
    <% end %>
    
    incoming_user_id.selectbox({
      onChange: function(val){ 
        
        userIdIncomingCreateLead = val;
        incoming_user_id.val(val);
        incoming_user_id.trigger("change");
        $.ajax({
          type: "GET",
          url: "/sales/incomings/" + val + "/get_username",
          success: function (data) {
            var text = "Lead will be allocated to " + data.name 
            $("p.append-username").html(text)
            $('#incoming_allocated_for_user').modal({
              show: true,
              backdrop: 'static',
              keyboard: true            
            }); 
          }
        });
           
      }
    });
    
    $(document.body).delegate(".close-modal-box-ic", "click", function(e){
      if ($(e.currentTarget).hasClass("yes-create-lead-base-on-ic")) {
        $.ajax({
          type: "POST",
          url: "/sales/incomings/" + userIdIncomingCreateLead + "/create_lead_base_on_ic?ic_id=" + <%= @incoming.id %>,
          success: function (data) {
            
            if (data.status == "ok") {
              if (data.action == "edit"){
                $('#success_mess_after_create_lead .change-action-name').html("Lead is successfully created and allocated to a user");
              }
                           
              $('#incoming_allocated_for_user').modal('hide');   
              $('#success_mess_after_create_lead').modal({
                show: true,
                backdrop: 'static',
                keyboard: true            
              }); 
            }          
            
          }
        });  
      }  else {
        $('#incoming_allocated_for_user').modal('hide');         
      }                      
    });
    
    
  });  
</script>
