<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2 style="text-align: center;">Change Password</h2>
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      
      <li class="active">
        <strong>Change Password</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
    <div class="wid-40" style="margin: 0px auto; width: 600px;">
      <div class="ibox float-e-margins">
        <div class="ibox-title" style="float: left; width: 100%; padding-left: 20px; padding-bottom: 80px;">
          <div class="col-md-12" style="padding: 0px;">
            
            <%= semantic_form_for @user, :url => "/profile/update_password", :html => {:class => "edit-profile-user-form", :method => :post, :multipart => true} do |f| %>
              <%= f.inputs do %>
                <div class="left-form-edu" style="margin: 0px auto; padding-left: 7%; float: none;">
                  <div class="title-input-edu">Change Password</div>
                    <%= f.input :current_password, label: "Current password".html_safe %>
                    <%= f.input :password, label: "New password".html_safe, required: false %>
                    <%= f.input :password_confirmation, label: "Re-enter password".html_safe  %>
                </div>               
              <% end %>
              <%= f.actions do %>
                <%= f.action :submit, :as => :button, :value => "Save change", :label => "Save changes", :button_html => {:class => "btn btn-primary style-bt-edu"}%>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
           
</div>
<script language="javascript">
  $(document).ready(function() {
    
  <% if flash[:update_password] %>
    $.cookie('flashType', "notice", { path: '/' });
    $.cookie('flashMessage', 'Your password has been update successfully!', { path: '/' });
    toastr['success']($.cookie('flashMessage'));
    $.removeCookie('flashType', { path: '/' });
    $.removeCookie('flashMessage', { path: '/' });
    <% flash[:update_password] = false %>
  <%  end %>
    
  });
</script>
    