<!DOCTYPE html>
<html>
<head>
  <title>Amazing Borneo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="SHORTCUT ICON" href="<%= asset_path('favicon.ico') %>"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboard/application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body class="fixed-sidebar pace-done">
   <%= yield %>
</body>
</html>